<article id="product-sidebar">
	<h4>Productos</h4>
	<div class="list-group">
                <a href="#!/products" class="list-group-item active">Máquinas soldadoras y carros porta máquinas</a>
                <a href="#!/products" class="list-group-item">Soldaduras</a>
                <a href="#!/products" class="list-group-item">Proceso MIG</a>
                <a href="#!/products" class="list-group-item">Proceso TIG</a>
                <a href="#!/products" class="list-group-item">Accesorios para soldar</a>
                <a href="#!/products" class="list-group-item">Oxicorte</a>
                <a href="#!/products" class="list-group-item">Plasma</a>
                <a href="#!/products" class="list-group-item">Seguridad</a>
                <a href="#!/products" class="list-group-item">Oxigenoterápia y Hospitalario</a>
	</div>
</article>