<section id="us" class="col-lg-offset-1 col-lg-6 col-md-8 col-sm-12 col-xs-12">
    <div class="page-header">
        <h2>Nosotros</h2>
    </div>
	<div id="mission" class="margin-bottom-20">
		<h3>Misión</h3>
		<p>Dar al cliente un servicio excepcional y trato como nuestro amigo, para satisfacer sus necesidades y superar sus expectativas en:</p>
		<ul class="list-unstyled">
            <li><a href="#">Máquinas soldadoras</a></li>
            <li><a href="#">Soldaduras</a></li>
            <li><a href="#">Accesorios para soldar</a></li>
            <li><a href="#">Material de aporte para soldadura</a></li>
            <li><a href="#">Gases</a></li>
            <li><a href="#">Oxígeno medicinal</a></li>
            <li><a href="#">Equipos para autógena y oxicorte</a></li>
        </ul>
	</div>
	<div id="vision" class="margin-bottom-20">
		<h3>Visión</h3>
		<p>Ser la empresa líder a nivel nacional debido a nuestro excepcional servicio y atención al cliente, en los mercados de:</p>
		<ul class="list-unstyled">
            <li><a href="#">Máquinas soldadoras</a></li>
            <li><a href="#">Soldaduras</a></li>
            <li><a href="#">Accesorios para soldar</a></li>
            <li><a href="#">Material de aporte para soldadura</a></li>
            <li><a href="#">Gases</a></li>
            <li><a href="#">Oxígeno medicinal</a></li>
            <li><a href="#">Equipos para autógena y oxicorte</a></li>
        </ul>
        <p>Distinguiéndonos por nuestra rentabilidad, productividad y proactividad a los cambios del mercado.</p>
        <p>Nuestro compromiso con la calidad total, la seguridad y el éxito de nuestros clientes, empleados y accionistas.</p>
	</div>
	<div id="values" class="margin-bottom-20">
		<h3>Valores</h3>
		<ul class="list-unstyled">
            <li><a href="#">Servicio al cliente</a></li>
            <li><a href="#">Honestidad</a></li>
            <li><a href="#">Lealtad</a></li>
            <li><a href="#">Trabajo en equipo</a></li>
            <li><a href="#">Logro de resultados</a></li>
        </ul>
	</div>
</section>
<aside class="col-lg-4 col-md-4 hidden-sm hidden-xs margin-top-30">
    <div ng-include src="'../view/Shared/Asides/infoStore.html'"></div>
    <div ng-include src="'../view/Shared/Asides/subscription.html'"></div>
</aside>